<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>
<body>
    <%- include("../partials/header") %>
    <div class="main-content">
        <h1>List of commands for <%= username %></h1>
        <h2>Interactive commands</h2>
        <table class="command-list">
            <th>Name</th>
            <th>Description</th>
            <% for (commandName in Object.fromEntries(Object.entries(commands).sort())) { %>
                <tr>
                    <td><a href="/command/<%= commands[commandName].name %>" class="hyperlink"><%= commands[commandName].name %></a></td>
                    <td><%= commands[commandName].help %></td>
                </tr>
            <% } %>
        </table>
        <h2>Static commands</h2>
        <% if (staticCommands.length >= 1) { %>
            <table class="command-list">
                <th>Command</th>
                <th>Response</th>
                <% for (command in staticCommands.sort((a, b) => a.name.localeCompare(b.name))) { %>
                <tr>
                    <td><%= staticCommands[command].name %></td>
                    <td><%= staticCommands[command].reply %></td>
                </tr>
                <% } %>
            </table>
        <% } else { %>
            <p>...</p>
        <% } %>
    </div>
</body>
</html>
