<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>
<body>
    <%- include("../partials/header") %>
    <div class="main-content">
        <h2><%= command.name %></h2>
        <p><%= command.help %></p>
        <p>Usage: <%= command.usage %></p>
        <p>Cooldown: <%= command.cooldown / 1000 %>s</p>
        <p>Aliases:</p>
        <ul style="margin: 0px;">
        <% for (alias of command.aliases) { %>
            <li><%= alias %></li>
        <% } %>
        </ul>
        <h2>Examples:</h2>
        <div class="command-examples">
            <% for (example of command.examples) { %>
            <div class="command-example">
                <% for (description of example.description) { %>
                    <p class="command-description"><%- description %></p>
                <% } %>
                <p class="command-command"><%= example.command %></p>
                <p class="command-response"><%= example.response %></p>
            </div>
            <% } %>
        </div>
    </div>
</body>
</html>
