<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>
<body>
    <%- include("../partials/header") %>
    <div class="main-content">
        <div class="content-title">
            <b class="title" style="color: var(--bot-username);">LinneBot</b>
            <p class="text">The worst chatbot on Twitch</p>
            <img id="cokeshakey" src="/static/images/cokeshakey.gif" style="height: 70px" alt="cokeshakey">
        </div>
        <div style="align-self: center; padding-bottom: 20px;">
            <p>Currently in <%= channels.length %> <%= channels.length > 1 ? "channels" : "channel" %> serving <%= Object.keys(commands).length %> commands</p>
            <p>For a full list of commands, see <a class="hyperlink" href="/commands">/commands</a></p>
        </div>
        <div class="social-links">
            <a href="https://twitch.tv/LinneB" target="_blank">
                <img src="/static/images/twitch.png" alt="twitch" style="height: 80px;">
            </a>
            <a href="https://github.com/LinneB" target="_blank">
                <img src="/static/images/github.png" alt="github" style="height: 80px;">
            </a>
        </div>
    </div>
</body>
</html>
